body {
  --color-one: #f3d0c8;
  --color-two: #f3e5c8;
  --color-three: #ebf3c8;
  --color-four: #d6f3c8;
  --color-five: #c8f3d0;
  --color-six: #c8f3e6;
  --color-primary-text: #3d3432;

  --color-death-knight: #c41e3a;
  --color-demon-hunter: #a330c9;
  --color-druid: #ff7c0a;
  --color-hunter: #aad372;
  --color-mage: #3fc7eb;
  --color-monk: #00ff98;
  --color-paladin: #f48cba;
  --color-priest: #ffffff;
  --color-rogue: #fff468;
  --color-shaman: #0070dd;
  --color-warlock: #8788ee;
  --color-warrior: #c69b6d;
}

body {
  margin: 0;
}

p,
span,
h1,
h2,
h3,
h4,
h5 {
  color: var(--color-primary-text);
}

button {
  background: none;
  border: 0;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
}
